<div class="container-table mat-elevation-z8">

  <button md-raised-button color="primary" (click)="addUser()">Add User</button>
  <button md-raised-button color="primary" (click)="deleteUser()">Delete User</button>

  <form class="form-search">
    <md-form-field class="search-full-width">
      <input mdInput #filter placeholder="Search" (keyup)="filterKeyUp()">
    </md-form-field>
  </form>

  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container mdColumnDef="firstName">
      <md-header-cell *mdHeaderCellDef md-sort-header> First Name </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.firstName}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="lastName">
      <md-header-cell *mdHeaderCellDef md-sort-header> Last Name </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.lastName}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="age">
      <md-header-cell *mdHeaderCellDef md-sort-header> Age </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.age}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="city">
      <md-header-cell *mdHeaderCellDef md-sort-header> City </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.city}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator #paginator
                [length]="dataPeople?.data?.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

</div>